*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Segoe UI;
}

body{
background:#fff8f0;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 20px;
background: #ff6b00;
color: white;
}

.logo{
font-size: 24px;
font-weight: bold;
}

nav a{
color: white;
text-decoration: none;
margin-left: 25px;
font-size: 18px;
}

nav a:hover{
opacity: 0.8;
}

.active{
border-bottom: 2px solid white;
}

.hero{
height: 40vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background: linear-gradient(120deg,#ff6b00,#ffb347);
color: white;
}

.hero h1{
font-size: 55px;
margin-bottom:15px;
}

.hero p{
font-size:20px;
margin-bottom:25px;
}

.btn{
background:white;
color:#ff6b00;
padding:12px 25px;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
width:90%;
margin:auto;
padding:60px 0;
}

.feature{
background:white;
padding:30px;
border-radius:12px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.menu-title{
text-align:center;
margin:40px 0;
font-size:40px;
color:#ff6b00;
}

.foods{
width:90%;
margin:auto;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap: 25px;
}

.food{
background:white;
border-radius:12px;
padding:15px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.food img{
width:100%;
height:170px;
object-fit:cover;
border-radius:10px;
}

.food h3{
margin:10px 0;
}

.food p{
color:#27ae60;
font-weight: bold;
}

.food button{
margin-top:10px;
background:#ff6b00;
color:white;
border:none;
padding:8px 15px;
border-radius:6px;
cursor:pointer;
}

.order-page{
display:flex;
justify-content:center;
align-items:center;
height:80vh;
}

.order-box{
background:white;
padding:40px;
border-radius:12px;
width:350px;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
text-align:center;
}

.order-box h1{
margin-bottom:20px;
color:#ff6b00;
}

.order-box form{
display:flex;
flex-direction:column;
gap:15px;
}

.order-box input,
.order-box select{
padding:10px;
border-radius:6px;
border: 1px solid #ccc;
}

.order-box button{
background:#ff6b00;
color:white;
border:none;
padding:12px;
border-radius:6px;
cursor:pointer;
}

footer{
margin-top:50px;
background:#222;
color:white;
text-align:center;
padding:15px;
}